.App {
  text-align: center;
  padding: 1em;
}

.chart-section h4 {
  text-align: left;
}

.chart-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.faces > * {
  flex: 1 1 250px;
  margin: 5px;
}

.chart-grid > * {
  flex: 1 1 250px;
}

.chart-section {
  margin: 0;
  text-align: left;
}

.barchart {
  width: 500px;
  height: 500px;
  margin: 20px 10px 10px 0;
}
