/* Marks styling */
.marks .land {
  fill: rgb(125, 189, 197);
}

.marks .interiors {
  fill: none;
  stroke: rgb(160, 217, 224);
}

.marks .sphere {
  fill: rgb(231, 241, 241);
}

.marks .graticules {
  fill: none;
  stroke: rgb(210, 228, 228);
}
