/* Marks styling */
$blueBackground: rgb(231, 241, 241);
$blueLand: rgb(125, 189, 197);
$blueLines: rgb(160, 217, 224);
$blueGraticules: rgb(210, 228, 228);

$greyBackground: rgb(247, 247, 247);
$greyLand: rgb(230, 230, 230);
$greyLines: rgb(215, 215, 215);
$greyGraticules: rgb(240, 240, 240);

$circleColor: rgb(100, 150, 255);

.marks .land {
  fill: $greyLand;
}

.marks .interiors {
  fill: none;
  stroke: $greyLines;
}

.marks .sphere {
  fill: $greyBackground;
}

.marks .graticules {
  fill: none;
  stroke: $greyGraticules;
}

.marks circle {
  fill: $circleColor;
  opacity: 0.5;
}
