.chart {
  height: 500px;
  width: 1000px;
  box-shadow: none;
  transition: 0.3s;
}

.chart h2 {
  padding-top: 0.5em;
  padding-bottom: 0;
  text-align: left;
}

.chart:hover {
  box-shadow: none;
}
