.apidata {
  text-align: left;
}

.chart-container h4 {
  text-align: center;
}

.data-info {
  * {
    * {
      display: inline-block;
      margin: 0;
      margin-top: 0.5em;
    }

    h4 {
      margin-right: 0.5em;
    }
  }
}

.measurements {
  margin-top: 1em;
}
